<header>
    <img
        src="assets/img/gs.jpg"
        alt="Geovane Possidonio - Foto de Perfil"
        width="130px"
        height="130px"
        loading="eager"
        />
    <h1>Geovane Possidônio da Silva</h1>
</header>

<aside>
    <div class="container">
        <p>HTML | CSS | JavaScript | PHP | MySql | Angular</p>
        <p>Araraquara, São Paulo, Brasil</p>
        <p>
            Estudante de Sistemas de Informação, especializando-se em desenvolvimento Frontend, estou em busca da primeira oportunidade na área.
        </p>

        <nav>
            <ul>
                <li>
                    <!-- target="blank" => Abre o conteúdo em uma nova página -->
                    <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
                        Download CV
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/geovane-silva-a2ba36218" target="_blank" class="btn btn-secondary">
                        LinkedIn
                    </a>
                </li>
            </ul>
        </nav>

        <section>
            <figure>
                <img 
                    src="assets/icons/whatsapp.svg"
                    alt="Ícone para contato do Whatsaap"
                    width="22px"
                    height="24px"
                />

                <figcaption>
                    <a href="https://api.whatsapp.com/send/?phone=5516996080108&text=Bom+dia,+Geovane.+Preciso+de+um+job.&type=phone_number&app_absent=0" target="blank">
                    <strong>Envie uma mensagem para:</strong>
                    <p>WhatsAap: (16) 99608-0108</p>
                    </a>
                </figcaption>

            </figure>

            <figure>
                <img src="assets/icons/mail.svg" alt="Ícone para contato do e-mail" width="22px" height="24px" />
            
                <figcaption>
                    <a href="mailto:g.possidonio00@gmail.com.br"
                        target="blank">
                        <strong>Envie um E-mail para:</strong>
                        <p>g.possidonio00&#64;gmail.com</p>
                    </a>
                </figcaption>
            
            </figure>
        </section>

    </div>
</aside>
